P{
    color:hotpink;
}
h1{ color: indigo;

}
#bogura{
    color: lawngreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
}